<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Angular || To-Do List</title>
        <link href="styles/main.css" rel="stylesheet" type="text/css">
    </head>
    
    <body ng-app="todoListApp">
        
        <div ng-controller="mainCtrl" class="list">
            <h1 ng-click="helloWorld()">My TODOs</h1>
            <div ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.completed">
                <label class="editing-label" ng-hide="editing" ng-click="helloWorld()">{{todo.name}}</label>
                <input type="text" class="editing-label" ng-model="todo.name" ng-show="editing" ng-blur="editing = false">

                <div class="actions">
                    <a href="" ng-click="editing = !editing">edit</a>
                    <a href="">save</a>
                    <a href="" class="delete">delete</a>
                </div>
            </div>
        </div>


        <script src="vendor/angular.min.js" type="text/javascript"></script>
        <script src="scripts/app.js" type="text/javascript"></script>
        <script src="scripts/hello-world.js" type="text/javascript"></script>
    </body>
</html>